- name: Create a virtual environment for the application
  ansible.builtin.command:
    cmd: "python3 -m venv {{ venv_path }}"
    creates: "{{ venv_path }}/bin/pip"
  become: yes

- name: Ensure correct ownership of the virtual environment
  ansible.builtin.file:
    path: "{{ venv_path }}"
    owner: "{{ target_user }}"
    group: "{{ target_user }}"
    recurse: yes
  become: yes

- name: Create a persistent temporary directory for pip builds
  ansible.builtin.file:
    path: /var/tmp/ansible_pip_build
    state: directory
    mode: '0777'
  become: yes

- name: Install/Upgrade base python packages in venv
  ansible.builtin.pip:
    name:
      - pip
      - setuptools
      - wheel
    state: latest
    executable: "{{ venv_path }}/bin/pip3"
  become: yes
  become_user: "{{ target_user }}"

- name: Install Cython separately to ensure it's available for other builds
  ansible.builtin.pip:
    name: cython
    state: latest
    executable: "{{ venv_path }}/bin/pip3"
  become: yes
  become_user: "{{ target_user }}"

- name: Install python dependencies into the virtual environment
  ansible.builtin.pip:
    requirements: "{{ requirements_path }}"
    executable: "{{ venv_path }}/bin/pip3"
    extra_args: -v --no-cache-dir
  environment:
    TMPDIR: /var/tmp/ansible_pip_build
  async: 1200 # Set timeout to 20 minutes
  poll: 10    # Check status every 10 seconds
  become: yes
  become_user: "{{ target_user }}"

- name: Clean up pip build directory
  ansible.builtin.file:
    path: /var/tmp/ansible_pip_build
    state: absent
  become: yes
