job "docker-registry" {
  datacenters = ["dc1"]
  type        = "service"

  group "registry" {
    count = 1

    constraint {
      attribute = "${meta.node_type}"
      value     = "controller"
    }

    network {
      port "http" {
        static = {{ docker_registry_port }}
      }
    }

    service {
      name = "docker-registry"
      port = "http"
      tags = [
        "traefik.enable=true",
        "traefik.http.routers.registry.rule=Host(`registry.service.consul`)",
      ]
      check {
        type     = "tcp"
        interval = "10s"
        timeout  = "2s"
      }
    }

    task "registry" {
      driver = "docker"

      config {
        image = "registry:2"
        network_mode = "host"
        volumes = [
          "{{ nomad_volumes_dir }}/registry:/var/lib/registry"
        ]
      }

      env {
        REGISTRY_HTTP_ADDR = ":{{ docker_registry_port }}"
      }

      resources {
        cpu    = 500
        memory = 512
      }
    }
  }
}
