- name: Deploy Consul - Install Dependencies
  hosts: all
  remote_user: "{{ target_user }}"
  become: yes

  tags:
    - consul

  roles:
    - role: consul
      tags:
        - consul_install_deps

- name: Deploy Consul - Configure
  hosts: all
  remote_user: "{{ target_user }}"
  become: yes

  tags:
    - consul

  roles:
    - role: consul
      tags:
        - consul_configure
