- name: Deploy Consul - Install Dependencies
  hosts: all
  remote_user: "{{ target_user }}"
  become: yes

  tasks:
  tags:
    - consul

  roles:
    - role: consul
      tags:
        - consul_install_deps

- name: Deploy Consul - Configure
  hosts: all
  remote_user: "{{ target_user }}"
  become: yes

  tags:
    - consul

  roles:
    - role: consul
      tags:
        - consul_configure

  post_tasks:
    - name: Run Consul Unit Tests
      ansible.builtin.command:
        cmd: "{{ ansible_playbook_python }} -m unittest tests.unit.test_infrastructure.TestInfrastructure.test_consul_running"
        chdir: "{{ playbook_dir }}/../../"
      changed_when: false
      tags:
        - consul_test
