- hosts: all
  remote_user: "{{ target_user }}"
  become: yes

  vars_files:
    - "{{ playbook_dir }}/../../group_vars/all.yaml"

  pre_tasks:
    - name: Ensure rsync is installed for synchronization tasks
      ansible.builtin.apt:
        name: rsync
        state: present
        update_cache: yes

    - name: Check connectivity to all nodes
      ansible.builtin.ping:

    - name: Distribute control repository to all nodes
      ansible.posix.synchronize:
        src: "{{ playbook_dir }}/../../"
        dest: /opt/cluster-infra/
        rsync_opts:
          - "--exclude=.git"
      when: inventory_hostname != 'localhost'

    - name: Synchronize control repository for local bootstrap
      ansible.posix.synchronize:
        src: "{{ playbook_dir }}/../../"
        dest: /opt/cluster-infra/
        rsync_opts:
          - "--exclude=.git"
      when: inventory_hostname == 'localhost'

  roles:
    - system_deps
    - common

