- name: Deploy Model Services
  hosts: all
  vars_files:
    - "../../group_vars/models.yaml"
    - "../../group_vars/external_experts.yaml"
  remote_user: "{{ target_user }}"
  become: yes

  tags:
    - model-services

  tasks:
    - name: Populate Consul KV with configuration
      include_role:
        name: config_manager
      run_once: true
      tags:
        - config_manager

    - name: Run model-dependent roles
      include_role:
        name: "{{ role_name }}"
      loop:
        - download_models
        - llama_cpp
        - vllm
        - whisper_cpp
        - exo
      loop_control:
        loop_var: role_name
      when: not external_model_server
      tags:
        - download_models
        - llama_cpp
        - vllm
        - whisper_cpp

    - name: Flush handlers to ensure all services are started
      meta: flush_handlers
      tags:
        - always
