---
- hosts: all
  become: yes
  gather_facts: yes

  roles:
    - role: nomad
      vars:
        nomad_mode: "client"
        nomad_server_join:
          enabled: true
          server_address: "{{ controller_ip }}"
