job "magic_mirror" {
  datacenters = ["dc1"]
  type        = "service"

  group "server" {
    count = 1

    network {
      mode = "host" # Needs host networking to handle namespaces and ports properly
      port "mm" {
        static = 41111
      }
    }

    task "mmserver" {
      driver = "raw_exec"

      config {
        command = "{{ magic_mirror_install_dir }}/mmserver"
        args    = [
            "--config", "local/mmserver.toml"
        ]
      }

      template {
        data = <<EOH
[server]
bind = "{{ ansible_default_ipv4.address | default('127.0.0.1') }}:41111"

[apps.terminal]
description = "Terminal"
command = ["/bin/bash"]
xwayland = false
EOH
        destination = "local/mmserver.toml"
        change_mode = "restart"
      }

      resources {
        cpu    = 1000
        memory = 1024
      }

      service {
        name = "magic-mirror"
        port = "mm"
        check {
          type     = "script"
          command  = "/bin/bash"
          args     = ["-c", "echo > /dev/tcp/{{ ansible_default_ipv4.address | default('127.0.0.1') }}/41111"]
          interval = "10s"
          timeout  = "2s"
        }
      }
    }
  }
}
