---
- name: Template tool-server.nomad job file
  ansible.builtin.template:
    src: tool_server.nomad.j2
    dest: /opt/nomad/jobs/tool_server.nomad

- name: Run tool-server nomad job
  ansible.builtin.command: nomad job run /opt/nomad/jobs/tool_server.nomad
  changed_when: true
