- name: Copy tools directory into the build context
  ansible.builtin.copy:
    src: "{{ role_path }}/../../roles/pipecatapp/files/tools"
    dest: "{{ role_path }}/"
    mode: '0755'
  become: no
  delegate_to: localhost

- name: Copy pmm_memory.py into the build context
  ansible.builtin.copy:
    src: "{{ role_path }}/../../roles/pipecatapp/files/pmm_memory.py"
    dest: "{{ role_path }}/pmm_memory.py"
    mode: '0644'
  become: no
  delegate_to: localhost

- name: Build tool-server docker image
  community.docker.docker_image:
    name: tool-server:latest
    build:
      path: "{{ role_path }}"
      dockerfile: "{{ role_path }}/Dockerfile"
    source: build
    force_source: yes
  become: yes

- name: Template tool-server.nomad job file
  ansible.builtin.template:
    src: tool_server.nomad.j2
    dest: "{{ nomad_jobs_dir }}/tool_server.nomad"

- name: Run tool-server nomad job
  ansible.builtin.command: /usr/local/bin/nomad job run {{ nomad_jobs_dir }}/tool_server.nomad
  changed_when: true
