---
- name: Copy application files for docker build
  ansible.builtin.copy:
    src: "{{ role_path }}/../../pipecatapp/files/{{ item }}"
    dest: "/opt/pipecatapp/{{ item }}"
    owner: root
    group: root
    mode: '0644'
  loop:
    - requirements.txt
    - tool_server.py
    - tools
  become: yes

- name: Build tool-server docker image
  community.docker.docker_image:
    name: tool-server:latest
    build:
      path: /opt/pipecatapp
      dockerfile: "{{ role_path }}/Dockerfile"
    source: build
    force_source: yes
  become: yes

- name: Template tool-server.nomad job file
  ansible.builtin.template:
    src: tool_server.nomad.j2
    dest: /opt/nomad/jobs/tool_server.nomad

- name: Run tool-server nomad job
  ansible.builtin.command: nomad job run /opt/nomad/jobs/tool_server.nomad
  changed_when: true
