- name: Copy app.py into the build context
  ansible.builtin.copy:
    src: app.py  # Looks for files/app.py inside the role
    dest: "{{ role_path }}/app.py" # Copies it to .../roles/tool_server/app.py
  become: no
  delegate_to: localhost

- name: Build tool-server docker image
  community.docker.docker_image:
    name: tool-server:latest
    build:
      path: "{{ role_path }}"
      dockerfile: "{{ role_path }}/Dockerfile"
    source: build
    force_source: yes
  become: yes

- name: Template tool-server.nomad job file
  ansible.builtin.template:
    src: tool_server.nomad.j2
    dest: /opt/nomad/jobs/tool_server.nomad

- name: Run tool-server nomad job
  ansible.builtin.command: nomad job run /opt/nomad/jobs/tool_server.nomad
  changed_when: true
