# This file contains the PINs required to unlock the TPM PKCS#11 token.
# It is heavily guarded with 0600 permissions and only accessible by root.
SOPIN="{{ sopin_gen.stdout }}"
USERPIN="{{ userpin_gen.stdout }}"
