job "forgejo" {
  datacenters = {{ nomad_datacenters | default(['dc1']) | to_json }}
  type        = "service"

  group "forgejo" {
    count = 1

    network {
      mode = "host"
      port "http" {
        static = {{ forgejo_http_port | default(3002) }}
      }
      port "ssh" {
        static = {{ forgejo_ssh_port | default(3022) }}
      }
    }

    task "forgejo" {
      driver = "docker"

      config {
        image = "codeberg.org/forgejo/forgejo:9-rootless"
        ports = ["http", "ssh"]

        volumes = [
          "/opt/forgejo/data:/var/lib/gitea",
          "/opt/forgejo/config:/etc/gitea"
        ]
      }

      env {
        FORGEJO__server__HTTP_PORT = "${NOMAD_PORT_http}"
        FORGEJO__server__SSH_PORT  = "${NOMAD_PORT_ssh}"
        FORGEJO__server__START_SSH_SERVER = "true"
        FORGEJO__server__ROOT_URL  = "http://${attr.unique.network.ip-address}:${NOMAD_PORT_http}/"
      }

      resources {
        cpu    = 500
        memory = 512
      }

      service {
        name = "forgejo-http"
        port = "http"
        tags = ["forgejo", "git", "web"]

        check {
          type     = "http"
          path     = "/"
          interval = "10s"
          timeout  = "2s"
        }
      }

      service {
        name = "forgejo-ssh"
        port = "ssh"
        tags = ["forgejo", "git", "ssh"]

        check {
          type     = "tcp"
          interval = "10s"
          timeout  = "2s"
        }
      }
    }
  }
}
