option domain-name "server.local";
option domain-name-servers ns1.server.local, ns2.server.local;

default-lease-time 600;
max-lease-time 7200;

ddns-update-style none;

authoritative;

log-facility local7;

subnet 192.168.1.0 netmask 255.255.255.0 {
  range 192.168.1.200 192.168.1.250;
  option routers 192.168.1.1;

  # iPXE chainloading logic
  # See: https://ipxe.org/howto/dhcpd
  option client-arch code 93 = unsigned integer 16;

  if exists user-class and option user-class = "iPXE" {
    # Client is already running iPXE
    filename "http://{{ ansible_default_ipv4.address }}/boot.ipxe";
  } else if option client-arch = 00:07 {
    # UEFI client
    filename "ipxe.efi";
  } else {
    # BIOS client
    filename "undionly.kpxe";
  }
}
