- name: Main Playbook
  hosts: all
  vars_files:
    - group_vars/all.yaml
    - group_vars/models.yaml
    - group_vars/external_experts.yaml
  tasks:
    - name: Import Playbooks
      include_tasks:
        file: "{{ item }}"
      loop:
        - playbooks/common_setup.yaml
        - playbooks/services/core_infra.yaml
        - playbooks/services/consul.yaml
        - playbooks/services/docker.yaml
        - playbooks/services/nomad.yaml
        - playbooks/services/app_services.yaml
        - playbooks/services/model_services.yaml
        - playbooks/services/core_ai_services.yaml
        - playbooks/services/ai_experts.yaml
        - playbooks/services/vllm_experts.yaml
        - playbooks/services/final_verification.yaml
