job "filebrowser" {
  datacenters = {{ nomad_datacenters | default(['dc1']) | to_json }}
  type        = "service"

  group "filebrowser" {
    count = 1

    volume "filebrowser_data" {
      type      = "host"
      read_only = false
      source    = "filebrowser_data"
    }

    network {
      port "http" {
        to = 80
      }
    }

    service {
      name = "filebrowser"
      port = "http"
      tags = []
      check {
        type     = "http"
        path     = "/"
        interval = "10s"
        timeout  = "2s"
      }
    }

    task "filebrowser" {
      driver = "docker"

      volume_mount {
        volume      = "filebrowser_data"
        destination = "/srv"
        read_only   = false
      }

      config {
        image = "filebrowser/filebrowser:latest"
        ports = ["http"]
        mount {
          type     = "bind"
          source   = "/opt/filebrowser/filebrowser.db"
          target   = "/database.db"
          readonly = false
        }
        mount {
          type     = "bind"
          source   = "/opt/filebrowser/.filebrowser.json"
          target   = "/.filebrowser.json"
          readonly = true
        }
      }

      resources {
        cpu    = 500
        memory = 512
      }
    }
  }
}
