job "filebrowser" {
  datacenters = {{ nomad_datacenters | default(['dc1']) | to_json }}
  type        = "service"

  group "filebrowser" {
    count = 1

    network {
      port "http" {
        to = 80
      }
    }

    service {
      name = "filebrowser"
      port = "http"
      tags = []
      check {
        type     = "http"
        path     = "/"
        interval = "10s"
        timeout  = "2s"
      }
    }

    task "filebrowser" {
      driver = "docker"

      config {
        image = "filebrowser/filebrowser:latest"
        ports = ["http"]
        volumes = [
          "/mnt/storage:/srv",
          "/opt/filebrowser/filebrowser.db:/database.db",
          "/opt/filebrowser/.filebrowser.json:/.filebrowser.json"
        ]
      }

      resources {
        cpu    = 500
        memory = 512
      }
    }
  }
}
