- name: Update apt cache
  ansible.builtin.apt:
    update_cache: yes
    cache_valid_time: 3600
  become: yes
  register: apt_update_result
  until: apt_update_result is success
  retries: 5
  delay: 10

- name: Install all system dependencies
  apt:
    name:
      - acl
      - avahi-daemon
      - build-essential
      - cmake
      - cargo
      - chrony
      - cmatrix
      - cowsay
      - curl
      - figlet
      - fio
      - ffmpeg
      - fortune-mod
      - fuse-overlayfs
      - gstreamer1.0-libav
      - git
      - hollywood
      - htop
      - iperf3
      - jq
      - libavif16
      - libavformat-dev
      - libavcodec-dev
      - libavdevice-dev
      - libavutil-dev
      - libavfilter-dev
      - libswscale-dev
      - libswresample-dev
      - libcurl4-openssl-dev
      - libevent-2.1-7t64
      - libflite1
      - libgstreamer-plugins-bad1.0-0
      - libmecab-dev
      - libnss-mdns
      - lolcat
      - make
      - mecab
      - mecab-ipadic-utf8
      - mosh
      - ncdu
      - nfs-common
      - openssh-server
      - pkg-config
      - portaudio19-dev
      - python3
      - python3-dev
      - python3-full
      - python3-pip
      - python3-venv
      - python3-virtualenv
      - rsync
      - rustc
      - sl
      - sshpass
      - sysbench
      - toilet
      - tmux
      - ufw
      - unzip
      - yq
    state: present
  become: yes
  check_mode: no

- name: Ensure avahi-daemon is started and enabled
  ansible.builtin.service:
    name: avahi-daemon
    state: started
    enabled: yes
  become: yes
