--index-url https://download.pytorch.org/whl/cpu
torch
torchvision
torchaudio
--extra-index-url https://pypi.org/simple
accelerate
ctranslate2==4.1.0
docker
einops
espeakng_loader
faiss-cpu
fastapi
faster-whisper==1.0.1
fugashi-plus
huggingface-hub
https://github.com/KittenML/KittenTTS/releases/download/0.1/kittentts-0.1.0-py3-none-any.whl
misaki[en]>=0.9.4
num2words
numpy
onnxruntime
opencv-python-headless
paramiko
pipecat-ai
pipecat-ai-whisker
piper-tts
playwright
pyvips-binary
RealtimeSTT
webrtcvad
requests
sentence-transformers
soundfile
spacy>=3.8.0
thinc>=8.3.0
ultralytics
uvicorn
websockets
python-consul2
transformers
pillow
