- name: Bootstrap ACLs
  block:
    - name: Bootstrap ACLs
      command: "consul acl bootstrap"
      args:
        creates: "{{ consul_config_dir }}/management_token"
      register: acl_bootstrap_result
      changed_when: acl_bootstrap_result.rc == 0 and acl_bootstrap_result.stdout != ""
      become: yes

    - name: Store management token
      copy:
        content: "{{ (acl_bootstrap_result.stdout | from_json).SecretID }}"
        dest: "{{ consul_config_dir }}/management_token"
        mode: '0600'
      when: acl_bootstrap_result.changed
      become: yes
  when: "'controller_nodes' in groups and groups['controller_nodes'] | length > 0"
  run_once: true
  delegate_to: "{{ groups['controller_nodes'][0] }}"
