- name: Install unzip
  apt:
    name: unzip
    state: present
  become: yes

- name: Download Consul
  command: "curl -L -o /tmp/consul.zip {{ consul_zip_url }}"
  args:
    creates: /tmp/consul.zip
  check_mode: no

- name: Unzip Consul
  unarchive:
    src: "/tmp/consul.zip"
    dest: "/tmp"
    remote_src: yes
    creates: /tmp/consul
  become: yes
  check_mode: no

- name: Move Consul to /usr/local/bin
  copy:
    src: /tmp/consul
    dest: /usr/local/bin/consul
    remote_src: yes
    mode: '0755'
  become: yes

- name: Create Consul data directory
  file:
    path: "{{ consul_data_dir }}"
    state: directory
    mode: '0755'
  become: yes

- name: Create Consul config directory
  file:
    path: "{{ consul_config_dir }}"
    state: directory
    mode: '0755'
  become: yes

- name: Copy Consul config
  template:
    src: consul.hcl.j2
    dest: "{{ consul_config_dir }}/consul.hcl"
  notify: restart consul
  become: yes

- name: Copy Consul systemd service file
  template:
    src: consul.service.j2
    dest: /etc/systemd/system/consul.service
  notify: restart consul
  become: yes

- name: Reload systemd to recognize new service
  systemd:
    daemon_reload: yes
  become: yes
  when: not ansible_check_mode

- name: Start and enable Consul service
  systemd:
    name: consul
    state: started
    enabled: yes
  become: yes
  when: not ansible_check_mode
