- name: Copy CA certificate to all nodes
  copy:
    src: "{{ role_path }}/files/certs/ca.pem"
    dest: "{{ consul_config_dir }}/ca.pem"
    mode: '0644'
  become: yes

- name: Copy node certificate and key to each node
  copy:
    src: "{{ role_path }}/files/certs/{{ inventory_hostname }}.{{ item }}"
    dest: "{{ consul_config_dir }}/{{ item }}"
    mode: '0600'
  loop:
    - key
    - pem
  become: yes

- name: Rename node certificate to cert.pem
  command: "mv {{ consul_config_dir }}/{{ inventory_hostname }}.pem {{ consul_config_dir }}/cert.pem"
  args:
    creates: "{{ consul_config_dir }}/cert.pem"
  become: yes

- name: Rename node key to key.pem
  command: "mv {{ consul_config_dir }}/{{ inventory_hostname }}.key {{ consul_config_dir }}/key.pem"
  args:
    creates: "{{ consul_config_dir }}/key.pem"
  become: yes
