- name: Copy CA certificate to all nodes
  copy:
    src: "{{ consul_temp_cert_dir }}/ca.pem"
    dest: "{{ consul_config_dir }}/ca.pem"
    mode: '0644'
    remote_src: yes
  become: yes

- name: Copy node certificate and key to each node
  copy:
    src: "{{ consul_temp_cert_dir }}/{{ inventory_hostname }}.{{ item.src }}"
    dest: "{{ consul_config_dir }}/{{ item.dest }}"
    mode: '0600'
    remote_src: yes
  loop:
    - { src: 'pem', dest: 'cert.pem' }
    - { src: 'key', dest: 'key.pem' }
  become: yes
