- name: Check if CA certificate exists (localhost)
  stat:
    path: "{{ consul_temp_cert_dir }}/ca.pem"
  register: ca_cert_stat
  delegate_to: localhost
  check_mode: false

- name: Copy CA certificate to all nodes
  copy:
    src: "{{ consul_temp_cert_dir }}/ca.pem"
    dest: "{{ consul_config_dir }}/ca.pem"
    mode: '0644'
    owner: consul
    group: consul
    remote_src: yes
  become: yes
  when: not ansible_check_mode or ca_cert_stat.stat.exists

- name: Copy node certificate and key to each node
  copy:
    src: "{{ consul_temp_cert_dir }}/{{ inventory_hostname }}.{{ item.src }}"
    dest: "{{ consul_config_dir }}/{{ item.dest }}"
    mode: '0600'
    owner: consul
    group: consul
    remote_src: yes
  loop:
    - { src: 'pem', dest: 'cert.pem' }
    - { src: 'key', dest: 'key.pem' }
  become: yes
  when: not ansible_check_mode or ca_cert_stat.stat.exists
