[Unit]
Description=Provisioning API Service
# Make it wait for the network and Consul to be ready
After=network-online.target consul.service
Wants=network-online.target consul.service

[Service]
User=pipecatapp
Group=pipecatapp
WorkingDirectory={{ provisioning_api_dir }}
ExecStart={{ pipecat_app_dir }}/venv/bin/python3 -m uvicorn provisioning_api:app --host 0.0.0.0 --port {{ provisioning_api_port }}
Restart=always

[Install]
WantedBy=multi-user.target