[Unit]
Description=Provisioning API Service
# Make it wait for the network and Consul to be ready
After=network-online.target consul.service
Wants=network-online.target consul.service

[Service]
User=root
Group=root
WorkingDirectory=/opt/provisioning_api
ExecStart=/opt/pipecatapp/venv/bin/python3 -m uvicorn provisioning_api:app --host 0.0.0.0 --port 8002
Restart=always

[Install]
WantedBy=multi-user.target