pipecat-ai
RealtimeSTT
faster-whisper
git+https://github.com/Rinne-Kagamine/MeloTTS.git@fix-dependency
torch
torchaudio
ultralytics
opencv-python-headless
soundfile
sentence-transformers
faiss-cpu
paramiko
fastapi
uvicorn
websockets
requests
docker
playwright
fugashi-plus

