pipecat-ai
RealtimeSTT
faster-whisper
git+https://github.com/myshell-ai/MeloTTS.git
torch
torchaudio
ultralytics
opencv-python-headless
kittentts
soundfile
sentence-transformers
faiss-cpu
paramiko
fastapi
uvicorn
websockets
requests
docker
playwright
fugashi-plus
