- name: Restart Consul
  listen: "Restart Consul"
  become: yes
  ansible.builtin.service:
    name: consul
    state: restarted
  when: not ansible_check_mode

- name: Wait for Consul to start up
  listen: "Restart Consul"
  ansible.builtin.wait_for:
    port: "{{ consul_http_port }}"
    delay: 10
    timeout: 300
  when: not ansible_check_mode

- name: Reload systemd
  become: yes
  ansible.builtin.systemd:
    daemon_reload: yes
