- name: Restart Consul
  listen: "Restart Consul"
  become: yes
  ansible.builtin.service:
    name: consul
    state: restarted

- name: Wait for Consul to start up
  listen: "Restart Consul"
  ansible.builtin.wait_for:
    port: 8500
    delay: 10
    timeout: 300

- name: Reload systemd
  become: yes
  ansible.builtin.systemd:
    daemon_reload: yes
