torch
torchvision
torchaudio
--extra-index-url https://pypi.org/simple
accelerate
ctranslate2==4.1.0
cython
docker
einops
espeakng_loader
faiss-cpu
fastapi
faster-whisper==1.0.3
fugashi-plus
huggingface-hub
httpx
kittentts
misaki[en]>=0.9.4
num2words
numpy
onnxruntime
opencv-python-headless
paramiko
pipecat-ai
pipecat-ai-whisker
pip
piper-tts
playwright
python-consul2
python-dotenv
pyvips-binary
pyyaml
RealtimeSTT
requests
sentence-transformers
langchain
setuptools
soundfile
spacy>=3.8.0
thinc>=8.3.0
tenacity
ultralytics
uvicorn
webrtcvad
websockets
wheel
pylint
llm-sandbox[docker]
kubernetes
podman
rank_bm25
aiohttp
opencode-ai
pydantic
llmrouter-lib
fusepy
requests
