torch
torchvision
torchaudio
--extra-index-url https://pypi.org/simple
accelerate
ctranslate2==4.1.0
cython
docker
einops
espeakng_loader
faiss-cpu
fastapi
faster-whisper==1.0.1
fugashi-plus
huggingface-hub
httpx
kittentts
misaki[en]>=0.9.4
num2words
numpy
onnxruntime
opencv-python-headless
paramiko
pipecat-ai
pipecat-ai-whisker
pip
piper-tts
playwright
python-consul2
python-dotenv
pyvips
pyvips-binary
pyyaml
RealtimeSTT
requests
sentence-transformers
langchain
setuptools
soundfile
spacy
tenacity
ultralytics
uvicorn
webrtcvad
websockets
wheel
pylint
llm-sandbox[docker]
rank_bm25
fastapi
uvicorn
python-consul2
aiohttp
faiss-cpu
sentence-transformers
opencode-ai
pydantic
