    task "load-image" {
      driver = "raw_exec"
      lifecycle {
        hook    = "prestart"
        sidecar = false
      }

      artifact {
        source      = "http://127.0.0.1:{{ ipfs_gateway_port | default(8080) }}/ipfs/{{ image_cid }}"
        destination = "local/{{ image_tar_name }}.tar"
        mode        = "file"
      }

      config {
        command = "docker"
        args    = ["load", "-i", "local/{{ image_tar_name }}.tar"]
      }
    }
