job "mqtt" {
  datacenters = ["dc1"]
  type        = "service"

  group "mqtt-group" {
    count = 1

    network {
      port "mqtt" {
        static = {{ mqtt_port }}
      }
      port "ws" {
        static = {{ mqtt_websocket_port }}
      }
    }

    volume "mqtt-data" {
      type      = "host"
      source    = "mqtt-data"
      read_only = false
    }

    # Service Block at Group Level (Correct Placement)
    service {
      name     = "mqtt"
      port     = "mqtt"
      provider = "consul"
      #check {
      #  type     = "tcp"
      #  name     = "mqtt_tcp_health"
      #  port     = "mqtt"
      #  interval = "10s"
      #  timeout  = "2s"
      #}
        check {
          type     = "tcp"
          name     = "mqtt_health"
          port     = "mqtt"
          interval = "10s"
          timeout  = "2s"
          check_restart {
            limit = 3
            grace = "90s"
            ignore_warnings = false
          }
        }
      
    }
    restart {
      attempts = 10
      interval = "5m"
      delay    = "25s"
      mode     = "delay"
    }
    task "mosquitto" {
      driver = "docker"

      config {
        image = "eclipse-mosquitto:2"
        network_mode = "host"
        # Host mode networking requires no port map here
        cap_add = ["SETUID", "SETGID", "CHOWN", "NET_BIND_SERVICE"]
        command = "mosquitto"
        args    = ["-c", "/mosquitto/config/mosquitto.conf"]
      }

      volume_mount {
        volume      = "mqtt-data"
        destination = "/mosquitto"
        read_only   = false
      }

      resources {
        cpu    = 200
        memory = 128
      }

      user = "1883"
    }
  }
}
