job "mqtt" {
  datacenters = ["dc1"]
  type        = "service"

  group "mqtt-group" {
    count = 1

    network {
      mode = "host"
      port "mqtt" {
        static = 1883
      }
      port "ws" {
        static = 9001
      }
    }

    volume "mqtt-data" {
      type      = "host"
      source    = "mqtt-data"
      read_only = false
    }

    service {
      name     = "mqtt"
      port     = "mqtt"
      provider = "consul"

      check {
        type     = "tcp"
        interval = "10s"
        timeout  = "2s"
        address_mode = "host"
      }
    }


    task "mosquitto" {
      driver = "docker"

      config {
        image = "eclipse-mosquitto:2"
        ports = ["mqtt", "ws"]
        cap_add = ["SETUID", "SETGID", "CHOWN"]

        # By not specifying a command, we allow the container to use its
        # default entrypoint, which is a script that correctly initializes the
        # Mosquitto service, including setting file permissions.
      }

      volume_mount {
        volume      = "mqtt-data"
        destination = "/mosquitto"
        read_only   = false
      }

      resources {
        cpu    = 200 # 200 MHz
        memory = 128 # 128 MB
      }
    }
  }
}
