- name: Ensure Registry data directory exists
  ansible.builtin.file:
    path: "{{ nomad_volumes_dir }}/registry"
    state: directory
    mode: '0755'
  become: yes

- name: Template docker-registry job
  ansible.builtin.template:
    src: docker-registry.nomad.j2
    dest: "{{ nomad_jobs_dir }}/docker-registry.nomad"
  become: yes

- name: Ensure registry image is pulled
  ansible.builtin.command: docker pull registry:2
  become: yes
  register: docker_pull
  changed_when: "'Downloaded newer image' in docker_pull.stdout"

- name: Run docker-registry job
  ansible.builtin.command:
    cmd: /usr/local/bin/nomad job run {{ nomad_jobs_dir }}/docker-registry.nomad
  environment:
    NOMAD_ADDR: "http://{{ cluster_ip }}:{{ nomad_http_port }}"
  register: nomad_job_run

- name: Wait for Registry to be ready
  ansible.builtin.wait_for:
    host: "127.0.0.1"
    port: "{{ docker_registry_port }}"
    delay: 5
    timeout: 300
    state: started
