job "opengist" {
  datacenters = {{ nomad_datacenters | default(['dc1']) | to_json }}
  type        = "service"

  group "opengist" {
    count = 1

    network {
      mode = "host"
      port "http" {
        static = {{ opengist_http_port | default(6157) }}
      }
      port "ssh" {
        static = {{ opengist_ssh_port | default(2222) }}
      }
    }

    task "opengist" {
      driver = "docker"

      config {
        image = "ghcr.io/thomiceli/opengist:1.12"
        ports = ["http", "ssh"]

        volumes = [
          "/opt/opengist/data:/opengist"
        ]
      }

      env {
        UID = "1001"
        GID = "1001"
      }

      resources {
        cpu    = 500
        memory = 512
      }

      service {
        name = "opengist-http"
        port = "http"
        tags = ["opengist", "git", "web"]

        check {
          type     = "http"
          path     = "/"
          interval = "10s"
          timeout  = "2s"
        }
      }

      service {
        name = "opengist-ssh"
        port = "ssh"
        tags = ["opengist", "git", "ssh"]

        check {
          type     = "tcp"
          interval = "10s"
          timeout  = "2s"
        }
      }
    }
  }
}
