job "home-assistant" {
  datacenters = ["dc1"]
  type        = "service"

  group "home-assistant-group" {
    count = 1

    network {
      port "http" {
        to = 8123
      }
    }

    volume "ha-config" {
      type      = "host"
      source    = "ha-config"
      read_only = false
    }

    service {
      name     = "home-assistant"
      port     = "http"
      provider = "consul"

      check {
        type     = "http"
        path     = "/"
        interval = "30s"
        timeout  = "5s"
      }
    }

    task "home-assistant" {
      driver = "docker"

      config {
        image = "homeassistant/home-assistant:stable"
        ports = ["http"]
        volumes = [
          "/etc/localtime:/etc/localtime:ro",
        ]
      }

      env {
        HA_SERVER = "http://127.0.0.1:8123"
        HA_TOKEN = "{{ home_assistant_token | default('') }}"
        MQTT_SERVER = "{{ hostvars['controller_node_1']['ansible_host'] | default('127.0.0.1') }}"
      }


      volume_mount {
        volume      = "ha-config"
        destination = "/config"
        read_only   = false
      }

      resources {
        cpu    = 1000 # 1 GHz
        memory = 2048 # 2 GB

#        device "usb" {
#          count = 10
#          constraint {
#            attribute = "usb.class_id"
#            value     = "30929"
#          }
#        }
      }
    }
  }
}
