job "telegraf" {
  datacenters = {{ nomad_datacenters | default(['dc1']) | to_json }}
  type        = "system"

  group "telegraf" {
    network {
      mode = "host"
    }

    volume "telegraf-config" {
      type      = "host"
      source    = "telegraf-config"
      read_only = true
    }

    task "telegraf" {
      driver = "containerd-driver"

      config {
        image = "telegraf:latest"
        network_mode = "host"

        # Mount host metrics
        mounts = [
          {
            type     = "bind"
            source   = "/var/run/docker.sock"
            target   = "/var/run/docker.sock"
            readonly = true
          },
          {
            type     = "bind"
            source   = "/sys"
            target   = "/rootfs/sys"
            readonly = true
          },
          {
            type     = "bind"
            source   = "/proc"
            target   = "/rootfs/proc"
            readonly = true
          },
          {
            type     = "bind"
            source   = "/etc"
            target   = "/rootfs/etc"
            readonly = true
          }
        ]
      }

      env {
        HOST_PROC = "/rootfs/proc"
        HOST_SYS = "/rootfs/sys"
        HOST_ETC = "/rootfs/etc"
      }

      volume_mount {
        volume      = "telegraf-config"
        destination = "/etc/telegraf"
        read_only   = true
      }

      resources {
        cpu    = 200
        memory = 128
      }
    }
  }
}
