{% set controller_host = (groups.get('controller_nodes', []) | first) | default(inventory_hostname, true) %}
{% set controller_ip = hostvars.get(controller_host, {}).get('ansible_host') | default(hostvars.get(controller_host, {}).get('ansible_facts', {}).get('default_ipv4', {}).get('address')) | default('127.0.0.1') %}
http:
  routers:
    headscale:
      rule: "Host(`headscale.{{ cluster_domain | default('local.mesh') }}`)"
      service: headscale
      entryPoints:
        - websecure
      tls:
        {% if traefik_acme_enabled | bool %}
        certResolver: dnsresolver
        {% endif %}

  services:
    headscale:
      loadBalancer:
        servers:
          - url: "http://{{ controller_ip }}:8085"
