#!ipxe

echo iPXE boot script for NixOS loaded

set base-url http://{{ ansible_default_ipv4.address }}
kernel ${base-url}/bzImage
initrd ${base-url}/initrd

# Kernel arguments for NixOS netboot.
# 'init' must point to the init script inside the ramdisk.
# 'boot.shell_on_fail' is useful for debugging.
imgargs bzImage init=/init boot.shell_on_fail

boot