route:
  group_by: ['alertname']
  group_wait: 10s
  group_interval: 10s
  repeat_interval: 1h
  receiver: 'pipecat-webhook'

receivers:
  - name: 'pipecat-webhook'
    webhook_configs:
      - url: 'http://pipecatapp.service.consul:{{ pipecat_port }}/webhook'
        send_resolved: true
