job "beszel-hub" {
  datacenters = {{ nomad_datacenters | default(['dc1']) | to_json }}
  type        = "service"

  group "beszel-hub" {
    network {
      port "http" {
        static = {{ beszel_hub_port | default(8090) }}
      }
    }

    task "hub" {
      driver = "containerd-driver"

      config {
        image        = "henrygd/beszel"
        network_mode = "host"
        mounts = [
          {
            type     = "bind"
            source   = "{{ nomad_volumes_dir }}/beszel"
            target   = "/beszel_data"
            readonly = false
          }
        ]
      }

      service {
        name = "beszel-hub"
        port = "http"
        tags = []
        check {
          name     = "alive"
          type     = "tcp"
          port     = "http"
          interval = "10s"
          timeout  = "2s"
        }
      }

      resources {
        cpu    = 200
        memory = 200
      }
    }
  }
}
