job "beszel-hub" {
  datacenters = ["dc1"]
  type        = "service"

  group "beszel-hub" {
    network {
      port "http" {
        static = {{ beszel_hub_port | default(8090) }}
      }
    }

    task "hub" {
      driver = "docker"

      config {
        image        = "henrygd/beszel"
        network_mode = "host"
        volumes = [
          "{{ nomad_volumes_dir }}/beszel:/beszel_data",
        ]
      }

      service {
        name = "beszel-hub"
        port = "http"
        tags = []
        check {
          name     = "alive"
          type     = "tcp"
          port     = "http"
          interval = "10s"
          timeout  = "2s"
        }
      }

      resources {
        cpu    = 200
        memory = 200
      }
    }
  }
}
