job "beszel-agent" {
  datacenters = {{ nomad_datacenters | default(['dc1']) | to_json }}
  type        = "system"

  group "beszel" {
    network {
      port "agent" {
        static = {{ beszel_agent_port | default(45876) }}
      }
    }

    task "agent" {
      driver = "containerd-driver"

      config {
        image        = "henrygd/beszel-agent"
        network_mode = "host"
        pid_mode     = "host"
        privileged   = true
        mounts = [
          {
            type     = "bind"
            source   = "/var/run/docker.sock"
            target   = "/var/run/docker.sock"
            readonly = true
          },
          {
            type     = "bind"
            source   = "/"
            target   = "/host"
            readonly = true
          },
          {
            type     = "bind"
            source   = "/dev/disk"
            target   = "/dev/disk"
            readonly = true
          }
        ]
      }

      env {
        PORT       = "{{ beszel_agent_port | default(45876) }}"
        KEY        = "{{ beszel_agent_key | default('change_me') }}"
        FILESYSTEM = "/host"
      }

      resources {
        cpu    = 50
        memory = 50
      }

      service {
        name = "beszel-agent"
        port = "agent"
        check {
          name     = "alive"
          type     = "tcp"
          port     = "agent"
          interval = "10s"
          timeout  = "2s"
        }
      }
    }
  }
}
