job "mqtt-exporter" {
  datacenters = ["dc1"]
  type        = "service"

  # Update stanza for reliability
  update {
    max_parallel      = 1
    health_check      = "checks"
    min_healthy_time  = "10s"
    healthy_deadline  = "15m"
    progress_deadline = "20m"
    auto_revert       = true
    canary            = 0
  }

  group "mqtt-exporter" {
    count = 1

    network {
      mode = "host"
      port "metrics" {
        static = {{ mqtt_exporter_metrics_port | default(9000) }}
      }
    }

    task "mqtt-exporter" {
      driver = "docker"

      config {
        image = "kpetrem/mqtt-exporter:{{ mqtt_exporter_version }}"
      }

      env {
        MQTT_ADDRESS = "{{ cluster_ip }}"
        MQTT_PORT = "{{ mqtt_port | default(1883) }}"
        PROMETHEUS_PORT = "{{ mqtt_exporter_metrics_port | default(9000) }}"
        PROMETHEUS_ADDRESS = "0.0.0.0"
        PROMETHEUS_BIND_ADDRESS = "0.0.0.0"
        LOG_LEVEL = "DEBUG"
        # Optional: MQTT_TOPIC_IGNORED, etc.
      }

      resources {
        cpu    = 200
        memory = 256
      }

      service {
        name = "mqtt-exporter"
        port = "metrics"
        tags = ["metrics"]

        check {
          type     = "http"
          path     = "/metrics"
          interval = "15s"
          timeout  = "5s"
          check_restart {
            limit = 5
            grace = "60s"
            ignore_warnings = false
          }
        }
      }
    }
  }
}
