- name: Copy pipecat startup script to build context
  ansible.builtin.template:
    src: "{{ inventory_dir }}/ansible/roles/pipecatapp/templates/start_pipecatapp.sh.j2"
    dest: "{{ inventory_dir }}/pipecatapp/start_pipecat.sh"
    mode: '0755'
  become: yes
  when: pipecat_deployment_style == 'docker'

- name: Build pipecatapp Docker image when deployment style is docker
  community.docker.docker_image:
    name: "{{ pipecat_image_name | default('pipecatapp') }}"
    tag: "{{ pipecat_image_tag | default('local') }}"
    build:
      path: "{{ inventory_dir }}/pipecatapp"
      nocache: true
    source: build
    force_source: true
  register: build_result
  become: yes
  when: pipecat_deployment_style == 'docker'
