- name: Create Expert Orchestrator job file for {{ current_expert }}
  ansible.builtin.template:
    src: "../jobs/expert.nomad.j2"
    dest: "/tmp/expert-{{ current_expert }}.nomad"
  when: expert_benchmark_data is defined
  vars:
    # Define ONLY loop-specific variables here
    job_name: "expert-{{ current_expert }}"
    service_name: "expert-api-{{ current_expert }}"
    model_list: "{{ expert_models[current_expert] | default([]) }}" # Corrected default
    worker_count: 1
    rpc_pool_job_name: "llamacpp-rpc-pool"
    pipecat_image_id: "{{ pipecat_image_id }}"
    pipecat_api_keys: "{{ pipecat_api_keys }}"
    avg_tokens: "{{ (expert_benchmark_data.get(current_expert, {})).get('avg_tokens', 0) | float | round(2) }}"
    # DO NOT redefine ansible_memtotal_mb here
    current_expert_tags:
      - "expert={{ current_expert }}"
      - "avg_tps={{ avg_tokens }}"
      - "memory_mb={{ ansible_memtotal_mb }}"
      - "models={{ model_list | map(attribute='filename') | join(',') }}"
