{
  "exec-opts": ["native.cgroupdriver=systemd"],  
  "log-driver": "json-file",
  "log-opts": {
    "max-size": "100m"
  },
  "insecure-registries": [
    "localhost:{{ docker_registry_port | default(5001) }}",
    "{{ docker_registry_host }}:{{ docker_registry_port | default(5001) }}"
  ]
}
