- name: Restart Home Assistant
  ansible.builtin.command:
    cmd: nomad job run /opt/nomad/jobs/home-assistant.nomad
  environment:
    NOMAD_ADDR: "http://{{ advertise_ip }}:4646"
  changed_when: true
