[Unit]
Description=Paddler Balancer Service
After=network.target

[Service]
ExecStart={{ paddler_executable_path | default('/usr/local/bin/paddler') }} balancer \
    --management-addr "{{ paddler_balancer_management_addr }}" \
    --reverseproxy-addr "{{ paddler_balancer_reverseproxy_addr }}" \
    {% if paddler_balancer_dashboard_enable %}--management-dashboard-enable {% endif %} \
    {% if paddler_balancer_statsd_addr is defined and paddler_balancer_statsd_addr != "" %}
    --statsd-addr "{{ paddler_balancer_statsd_addr }}" \
    {% endif %}
    # Add any other balancer-specific arguments here if needed

User={{ paddler_balancer_user }}
Group={{ paddler_balancer_group }}
WorkingDirectory={{ paddler_balancer_working_directory }}

Restart=on-failure
RestartSec=5

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
