LLXPRT_PROVIDER=openai
LLXPRT_BASEURL="http://{{ hostvars[inventory_hostname]['ansible_facts']['default_ipv4']['address'] }}:{{ hostvars[inventory_hostname]['pipecat_port'] }}"
LLXPRT_API_KEY={{ openai_api_key }}
