[Unit]
Description=Unified Agent Filesystem (FUSE)
After=network.target consul.service opt-unified_fs_backend.mount
Requires=network.target

[Service]
Type=simple
User={{ unified_fs_user }}
ExecStartPre=-/bin/sh -c '/bin/fusermount -u -z {{ unified_fs_mount_point }} 2>/dev/null || true'
ExecStart=/usr/local/bin/unified_fs_agent.py {{ unified_fs_mount_point }} {{ unified_fs_root_storage }}
ExecStop=-/bin/sh -c '/bin/fusermount -u -z {{ unified_fs_mount_point }} 2>/dev/null || true'
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
