--index-url https://download.pytorch.org/whl/cpu
torch
torchvision
torchaudio
--extra-index-url https://pypi.org/simple
accelerate
aiohttp
beautifulsoup4
ctranslate2==4.1.0
docker
duckduckgo-search
einops
espeakng_loader
faiss-cpu
fastapi
faster-whisper==1.0.3
fugashi-plus
httpx
huggingface-hub
https://github.com/KittenML/KittenTTS/releases/download/0.1/kittentts-0.1.0-py3-none-any.whl
langchain
langchain-community
langchain-core
misaki[en]>=0.9.4
python-nomad
num2words
numpy
onnxruntime
opencv-python-headless
pandas
paramiko
pillow
pipecat-ai[openai,local]
pipecat-ai-whisker
piper-tts
playwright
pydantic
python-consul2
python-multipart
pyvips-binary
PyYAML
jinja2
RealtimeSTT
requests
sentence-transformers
soundfile
spacy>=3.8.0,<4.0.0
thinc>=8.3.0
transformers
ultralytics
uvicorn
websockets
wikipedia
llm-sandbox
python-dotenv
opencode-ai
llmrouter-lib
rank_bm25
podman
tenacity
# Miniray dependencies
redis
cloudpickle
tritonclient[http]
