[Unit]
Description=Randomize Pipecat Live Hostname
Before=NetworkManager.service systemd-networkd.service
ConditionPathExists=!/etc/pipecat_hostname_randomized
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'ID=$(head -c 100 /dev/urandom | tr -dc "a-z0-9" | head -c 6); HOSTNAME="pipecat-${ID}"; echo $HOSTNAME > /etc/hostname; hostname $HOSTNAME; sed -i -e "s/127.0.1.1.*/127.0.1.1\t$HOSTNAME/g" /etc/hosts; touch /etc/pipecat_hostname_randomized'

[Install]
WantedBy=sysinit.target
