job "pipecat-app" {
  datacenters = ["dc1"]
  type        = "service"

  group "pipecat-group" {
    count = 1

    network {
      mode = "host"
      port "http" {
        to = 8000
      }
    }
    
    volume "pipecatapp" {
      type   = "host"
      source = "pipecatapp" # must be defined in Nomad client config
      read_only = false
    }
    service {
      name = "pipecat-app"
      port = "http"
      provider = "consul"

      check {
        type     = "http"
        path     = "/health"
        interval = "10s"
        timeout  = "2s"
      }

    }

    task "pipecat-task" {
      driver = "exec"
 
      config {
        command = "/opt/pipecatapp/start_pipecat.sh"
      }

      volume_mount {
        volume      = "pipecatapp"
        destination = "/opt/pipecatapp"
      }

      resources {
        cpu    = 1000 # 1 GHz
        memory = 1024 # 4 GB
      }
    }
  }
}
