#!/bin/sh
export PRIMA_API_SERVICE_NAME="{{ prima_api_service_name | default('llamacpp-rpc-api') }}"
export USE_SUMMARIZER="{{ use_summarizer | default('false') }}"
export STT_SERVICE="{{ stt_service | default('faster-whisper') }}"
export PIECAT_API_KEYS="{{ pipecat_api_keys }}"
export EXTERNAL_EXPERTS_CONFIG='{{ external_experts_config | to_json }}'
export OPENAI_API_KEY="{{ openai_api_key }}"
