[Unit]
Description=Start Prima AI Services on Boot
After=network.target nomad.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/nomad job run /opt/nomad/jobs/prima-expert.nomad
ExecStart=/usr/local/bin/nomad job run /opt/nomad/jobs/pipecatapp.nomad
RemainAfterExit=true
StandardOutput=journal
StandardError=journal
User={{ target_user }}

[Install]
WantedBy=multi-user.target
