- name: Create OpenWorkers Nomad job files
  template:
    src: "{{ item }}.nomad.j2"
    dest: "{{ nomad_jobs_dir }}/{{ item }}.nomad"
  loop:
    - openworkers-infra
    - openworkers-runners
    - openworkers-bootstrap
  notify: Run OpenWorkers jobs

- name: Allow OpenWorkers ports in UFW
  ansible.builtin.command: ufw allow {{ item }}/tcp
  become: yes
  loop:
    - "{{ openworkers_api_port }}"
    - "{{ openworkers_dash_port }}"
    - "{{ postgate_port }}"
  changed_when: false
  ignore_errors: yes
  when: openworkers_enabled | bool

- name: Run OpenWorkers bootstrap job
  community.general.nomad_job:
    host: "{{ advertise_ip }}"
    state: present
    name: openworkers-bootstrap
    timeout: 300
  when: openworkers_enabled | bool

- name: Run OpenWorkers services
  community.general.nomad_job:
    host: "{{ advertise_ip }}"
    state: present
    name: "{{ item }}"
    timeout: 120
  loop:
    - openworkers-infra
    - openworkers-runners
  when: openworkers_enabled | bool
