job "ipfs" {
  datacenters = {{ nomad_datacenters | default(['dc1']) | to_json }}
  type        = "system"

  group "ipfs" {
    network {
      port "swarm" {
        static = {{ ipfs_swarm_port | default(4001) }}
      }
      port "api" {
        static = {{ ipfs_api_port | default(5001) }}
      }
      port "gateway" {
        static = {{ ipfs_gateway_port | default(8080) }}
      }
    }

    task "kubo" {
      driver = "docker"

      config {
        image = "ipfs/kubo:latest"
        network_mode = "host"
        volumes = [
          "{{ nomad_volumes_dir }}/ipfs:/data/ipfs"
        ]
      }

      env {
        IPFS_PROFILE = "server"
        # Bind to 0.0.0.0 so that Nomad prestart tasks using cluster_ip or 127.0.0.1 can reach it
        IPFS_CONFIG_Addresses_Gateway = "/ip4/0.0.0.0/tcp/{{ ipfs_gateway_port | default(8080) }}"
        IPFS_CONFIG_Addresses_API = "/ip4/0.0.0.0/tcp/{{ ipfs_api_port | default(5001) }}"
      }

      resources {
        cpu    = 500
        memory = 512
      }
    }
  }
}
