- import_playbook: "{{ playbook_dir }}/common_setup.yaml"

- import_playbook: "{{ playbook_dir }}/services/core_infra.yaml"

- import_playbook: "{{ playbook_dir }}/services/docker.yaml"

- import_playbook: "{{ playbook_dir }}/services/nomad_client.yaml"

- import_playbook: "{{ playbook_dir }}/services/app_services.yaml"
  tags: [app_services]

- import_playbook: "{{ playbook_dir }}/services/model_services.yaml"
  tags: [model_services]

- import_playbook: "{{ playbook_dir }}/services/core_ai_services.yaml"
  tags: [core_ai_services]

- import_playbook: "{{ playbook_dir }}/services/ai_experts.yaml"
  tags: [ai_experts]

- import_playbook: "{{ playbook_dir }}/services/final_verification.yaml"
  tags: [final_verification]
