job "paperless-db" {
  datacenters = {{ nomad_datacenters | default(['dc1']) | to_json }}
  type        = "service"
  priority    = 80

  group "paperless-db-group" {
    count = 1

    restart {
      attempts = 5
      interval = "5m"
      delay    = "15s"
      mode     = "delay"
    }

    reschedule {
      delay          = "30s"
      delay_function = "exponential"
      max_delay      = "10m"
      unlimited      = true
    }

    network {
      mode = "host"
      port "db" {
        to = 5432
      }
    }

    service {
      address_mode = "auto"
      address = "${attr.unique.network.ip-address}"
      name     = "paperless-db"
      port     = "db"
      provider = "consul"

      check {
        address_mode = "host"
        name     = "Paperless Postgres"
        type     = "tcp"
        interval = "10s"
        timeout  = "2s"
      }
    }

    task "postgres" {
      driver = "docker"

      config {
        image = "postgres:16.0-alpine"
        ports = ["db"]
        volumes = [
          "/opt/paperless/postgres:/var/lib/postgresql/data"
        ]
      }

      env {
        POSTGRES_USER     = "paperless"
        POSTGRES_PASSWORD = "paperless_password"
        POSTGRES_DB       = "paperless"
      }

      resources {
        cpu    = 500
        memory = 512
      }
    }
  }
}
