job "paperless-app" {
  datacenters = {{ nomad_datacenters | default(['dc1']) | to_json }}
  type        = "service"

  group "paperless-app-group" {
    count = 1

    network {
      mode = "host"
      port "http" {
        static = {{ paperless_port | default(8010) }}
        to     = 8000
      }
    }

    service {
      name     = "paperless"
      port     = "http"
      provider = "consul"

      check {
        name     = "Paperless Web UI"
        type     = "http"
        path     = "/"
        interval = "20s"
        timeout  = "5s"
        initial_delay = "60s"
      }
    }

    task "paperless-ngx" {
      driver = "docker"

      config {
        image = "ghcr.io/paperless-ngx/paperless-ngx:latest"
        ports = ["http"]
        volumes = [
          "/opt/paperless/data:/usr/src/paperless/data",
          "/opt/paperless/media:/usr/src/paperless/media",
          "/opt/paperless/export:/usr/src/paperless/export",
          "/opt/paperless/consume:/usr/src/paperless/consume"
        ]
      }

      template {
        data = <<EOH
{{ "{{" }} range service "paperless-redis" {{ "}}" }}
PAPERLESS_REDIS="redis://{{ "{{" }} .Address {{ "}}" }}:{{ "{{" }} .Port {{ "}}" }}"
{{ "{{" }} end {{ "}}" }}

{{ "{{" }} range service "paperless-db" {{ "}}" }}
PAPERLESS_DBHOST="{{ "{{" }} .Address {{ "}}" }}"
PAPERLESS_DBPORT="{{ "{{" }} .Port {{ "}}" }}"
{{ "{{" }} end {{ "}}" }}
EOH
        destination = "secrets/paperless.env"
        env         = true
      }

      env {
        USERMAP_UID              = "1000"
        USERMAP_GID              = "1000"
        PAPERLESS_TIME_ZONE      = "UTC"
        PAPERLESS_OCR_LANGUAGE   = "eng"
        PAPERLESS_DBNAME         = "paperless"
        PAPERLESS_DBUSER         = "paperless"
        PAPERLESS_DBPASS         = "paperless_password"
        PAPERLESS_SECRET_KEY     = "change_me_in_prod"
        PAPERLESS_URL            = "http://{{ cluster_ip }}:{{ paperless_port | default(8010) }}"
        PAPERLESS_ADMIN_USER     = "admin"
        PAPERLESS_ADMIN_PASSWORD = "admin"
      }

      resources {
        cpu    = 1000
        memory = 1024
      }
    }
  }
}
