- name: Ensure Home Assistant config directory exists
  ansible.builtin.file:
    path: /opt/nomad/volumes/ha-config
    state: directory
    owner: "568"
    group: "568"
    mode: '0755'
  become: yes

- name: Template home-assistant Nomad job file
  ansible.builtin.template:
    src: home_assistant.nomad.j2
    dest: /opt/nomad/jobs/home-assistant.nomad
    mode: '0644'
  become: yes

- name: Template Home Assistant configuration
  ansible.builtin.template:
    src: configuration.yaml.j2
    dest: /opt/nomad/volumes/ha-config/configuration.yaml
    mode: '0644'
  become: yes

- name: Wait for Nomad API to be ready before submitting job
  ansible.builtin.uri:
    url: "http://{{ ansible_default_ipv4.address }}:4646/v1/status/leader"
    method: GET
    status_code: 200
  register: home_assistant_nomad_api_status
  until: home_assistant_nomad_api_status.status == 200
  retries: 12 # ~1 minute
  delay: 5
  changed_when: false
  become: no # Should be accessible locally

- name: Wait for MQTT service to be available in Consul before starting HA
  ansible.builtin.uri:
    url: "http://127.0.0.1:8500/v1/health/service/mqtt?passing"
    return_content: yes
  register: home_assistant_mqtt_health
  until: home_assistant_mqtt_health.json is defined and home_assistant_mqtt_health.json | length > 0
  retries: 30 # ~5 minutes
  delay: 10
  changed_when: false
  become: no # Should be accessible locally

- name: Run home-assistant job asynchronously
  ansible.builtin.command:
    cmd: nomad job run /opt/nomad/jobs/home-assistant.nomad
  environment:
    NOMAD_ADDR: "http://{{ ansible_default_ipv4.address }}:4646"
  changed_when: true
  become: no # Run nomad client as the ansible user
  async: 300
  poll: 0
  register: home_assistant_ha_job_run_status

- name: Log job submission status
  ansible.builtin.debug:
    var: home_assistant_ha_job_run_status
