data_dir  = "{{ nomad_data_dir }}"
bind_addr = "0.0.0.0" # Listen on all interfaces

advertise {
  http = "{{ ansible_default_ipv4.address }}"
  rpc  = "{{ ansible_default_ipv4.address }}"
  serf = "{{ ansible_default_ipv4.address }}"
}

consul {
  address = "127.0.0.1:8500"
  {% if consul_bootstrap_token is defined %}
  token   = "{{ consul_bootstrap_token }}"
  {% endif %}
}

plugin "docker" {
  config {
    volumes {
      enabled = true
    }
    allow_caps = ["NET_RAW", "NET_ADMIN", "SETUID", "SETGID", "CHOWN"]
  }
}

plugin "raw_exec" {
  enabled = true
}

plugin "exec" {
  enabled = true
}

client {
  enabled = true
  servers = ["127.0.0.1"]
  

  host_volume "pipecatapp" {
    path      = "/opt/pipecatapp"
    read_only = false
  }

  # The "snd" volume is required for voice applications but will prevent
  # Nomad from starting on machines without a sound device. It is commented
  # out to allow for more flexible deployment. The pipecat job itself will
  # still require this volume to be present on the target node.
  host_volume "snd" {
    path      = "/dev/snd"
    read_only = false
  }

  host_volume "models" {
    path      = "{{ nomad_models_dir }}"
    read_only = true
  }

  host_volume "mqtt-data" {
    path      = "/opt/nomad/volumes/mqtt-data"
    read_only = false
  }

  host_volume "ha-config" {
    path      = "/opt/nomad/volumes/ha-config"
    read_only = false
  }
  
  host_volume "world_model_storage" {
    path      = "/opt/nomad/volumes/world_model_storage"
    read_only = false
  }
  
}
