data_dir  = "{{ nomad_data_dir }}"
bind_addr = "{{ cluster_ip }}"

addresses {
  http = "0.0.0.0"
}

advertise {
  http = "{{ cluster_ip }}"
  rpc  = "{{ cluster_ip }}"
  serf = "{{ cluster_ip }}"
}

server {
  enabled = true
  bootstrap_expect = {{ nomad_bootstrap_expect }}
}

client {
  enabled = true
}

consul {
  address = "127.0.0.1:{{ consul_http_port }}"
  {% if consul_bootstrap_token is defined %}
  token   = "{{ consul_bootstrap_token }}"
  {% endif %}
}

plugin "docker" {
  config {
    volumes {
      enabled = true
    }
    allow_caps = ["NET_RAW", "NET_ADMIN", "SETUID", "SETGID", "CHOWN", "NET_BIND_SERVICE"]
  }
}

plugin "raw_exec" {
  enabled = true
}

plugin "exec" {
  enabled = true
}

telemetry {
  collection_interval = "1s"
  disable_hostname = true
  prometheus_metrics = true
  publish_allocation_metrics = true
  publish_node_metrics = true
}
