data_dir  = "{{ nomad_data_dir }}"
bind_addr = "{{ ansible_default_ipv4.address }}"

advertise {
  http = "{{ ansible_default_ipv4.address }}"
  rpc  = "{{ ansible_default_ipv4.address }}"
  serf = "{{ ansible_default_ipv4.address }}"
}

server {
  enabled = true
  bootstrap_expect = {{ nomad_bootstrap_expect }}
}

client {
  enabled = true
}

consul {
  address = "127.0.0.1:8500"
  {% if nomad_consul_token is defined %}
  token   = "{{ nomad_consul_token }}"
  {% endif %}
}

plugin "docker" {
  config {
    volumes {
      enabled = true
    }
    allow_caps = ["NET_RAW", "NET_ADMIN", "SETUID", "SETGID", "CHOWN"]
  }
}

plugin "raw_exec" {
  enabled = true
}

plugin "exec" {
  enabled = true
}
